<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<link rel="stylesheet" type="text/css" href="form.css">
</body>
<body>

<title>Higalaay Qr code</title>

<body>

<form  ng-app="myApp"  ng-controller="validateCtrl"name="myForm"novalidate>

        <div class="container">
            <table class="table1" style="width: 98%;padding-left:20px; padding-right:20px;">
                <tr>
                    <td style="width: 10%">
                        <img style="width:190px;" src="Images/higala.png" />
                    </td>
                    <td style="width: 75%; padding-left: 10px">
                        <h2 style="font-size: 30px; font-weight: lighter;">Higala App Portal - Individual</h2>
                    </td>
                    <td style="width: 15%; padding-left: 10px">
                        <img style="width:150px;" src="Images/cdologo2.png" />
                    </td>
                </tr>

            </table>

<tr>
            <table class="t1" style="width:100%;padding-left:10px;padding-right:10px;border: #3174AE 1px solid; background-color: lightblue;">
                <tr>
                <th ><button onclick="__doPostBack('btnHome','')" id="btnHome" type="button" class="btn btn-info pull-left ">Home </button></th>
                <th style="font-size: 18px;margin-top: 10px;margin-bottom: 10px; font-weight:500;line-height: 1.1;color: inherit;display: block;margin-block-start: 1.33em;margin-block-end: 1.33em; margin-inline-start:-30%;margin-inline-end: 0px;padding-left:80px">User Registration</th>
                
</tr>


         <table  style="border: lightblue 1px solid;width:100%;padding-left:40px; padding-right:20px;border: #3174AE 1px solid;">
    <tr>
        <td>
  
<table>
    <tr>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;left: -0.5px; font-size: 30px;"><span class="input-group-addon" style="background-color: blue; color: yellow;display:inline-block;position: relative;left:1px;">User Name:
 <input style="width: 300px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);" type="text" name="user" ng-model="user" required></span>
  <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.user.$error.required">User Name must be at least 6 characters long.</span>
   <div class="help-block with-errors"></div>


 <td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: blue; color: yellow;display: inline-block;">Password:
 <input style="width: 300px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" name="password" ng-model="password" required></span>
  <span style="color:red" ng-show="myForm.password.$dirty && myForm.password.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.password.$error.required">Password must be at least 8 characters long.</span>
  <div class="help-block with-errors"></div>

 <td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: blue; color: yellow;display: inline-block;">Confirm:
 <input style="width: 300px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="confirmPassword" name="confirmPassword" ng-model="confirmPassword" required></span>
  <span style="color:red" ng-show="myForm.confirmPassword.$dirty && myForm.confirmPassword.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.confirmPassword.$error.required">Confirm Password must not be blank</span>
   <div class="help-block with-errors"></div>
    </table>
    </div>
 </div>

 <div class="details">
<table>
    <tr>
<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;left: -0.5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display:inline-block;position: relative;left:1px;">First Name
 <input style="width: 200px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);padding-left: 80px;" type="text" name="user" ng-model="user" required></span>
 <span style="background-color:green;" class="input-group">&nbsp;</span>
 <select ng-model="selectedName" ng-options="x for x in names" placeholder="Ext. Name">
    <option selected="selected" value=""></option>
    <option value="JR">JR</option>
    <option value="SR">SR</option>
    <option value="I">I</option>
    <option value="II">II</option>
    <option value="III">III</option>
    <option value="IV">IV</option>
    <option value="V">V</option>
    <option value="VI">VI</option>
    <option value="VII">VII</option>
    <option value="VIII">VIII</option>
    <option value="IX">IX</option>
</select>
<span style="color:red" ng-show="myForm.firstname.$dirty && myForm.firstname.$invalid">
<span style="color:red" ng-show="myForm.firstname.$error.required">First Name must not be blank.</span>
</span>
<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display: inline-block;">Middle Name
 <input style="width: 300px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" name="password" ng-model="password" required></span>
  <span style="color:red" ng-show="myForm.middlename.$dirty && myForm.middlename.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.middlename.$error.required">Middle Name must not be blank</span>
  <div class="help-block with-errors"></div>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display: inline-block;">Last Name
 <input style="width: 300px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" name="password" ng-model="password" required></span>
  <span style="color:red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.lastname.$error.required">Last Name must not be blank</span>
  <div class="help-block with-errors"></div>
</table>
</div>
</div>

 <div class="ng-app">
<table>
    <tr>
<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">Sex
 <select style="width: 100px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); ng-model="selectedSex" ng-options="x for x in sex" placeholder="Sex"> <option selected="selected" value=""></option>
  <option value="Male">Male</option>
  <option value="Female">Female</option>
</select>
 <span style="color:red" ng-show="myForm.sex.$dirty && myForm.sex.$invalid"></span>
   <div class="help-block with-errors"></div>

<td class="form" style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">BirthDate
<input type="date" id="birthdate" name="birthdate" placeholder="Date">
          <span id="errorbox" ng-show="myForm.groupname.$touched && myForm.groupname.$invalid"></span>
            <div class="help-block with-errors"></div>
 
<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display: inline-block;">Nationality
 <input style="width: 100px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" name="password" ng-model="password" required></span>
  <span style="color:red" ng-show="myForm.nationality.$dirty && myForm.nationality.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.nationality.$error.required">Nationality must not be blank</span>
  <div class="help-block with-errors"></div>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display: inline-block;">Mobile No.
 <input style="width: 100px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" maxlength="11" name="mobileno." ng-model="mobileno." placeholder="09XXXXXXXXX" data-minlength="11" data-error=" required></span>
  <span style="color:red"  ng-show="myForm.mobileno.$dirty && myForm.mobileno.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.mobileno.$error.required">Mobile No. must be 11 digits</span>
  <div class="help-block with-errors"></div>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;display: inline-block;">Email
 <input style="width: 100px;height: 30px; border-radius: 6;box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075"); type="text" name="email" ng-model="email" required></span>
<span style="color:red;" ng-show="myForm.email.$error.required">Email is required.</span>
<span style="color:red;" ng-show="myForm.email.$error.email">Invalid email address.</span>
   <div class="help-block with-errors"></div>
</tr>
</td>
</table>
</div>
</div>

<div class="cont2">
  <table>
    <tr>
<td style="width:5%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">Address:Street
 <input style="width: 90%;" type="text" name="street" ng-model="street" required></span>
  <span style="color:red" ng-show="myForm.street.$dirty && myForm.street.$invalid"></span>
  <br>
  <span style="color:red"  ng-show="myForm.street.$error.required">Street must not be blank.</span>
   <div class="help-block with-errors"></div>
</table>
</div>
<div class="cont3">
  <table>
    <tr>
<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">Province
  <select ng-model="selectedName" ng-options="x for x in names" placeholder="province">  onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;ProvinceCode\&#39;,\&#39;\&#39;)&#39;, 0)" id="ProvinceCode">
  <option value="1401|27">ABRA</option>
  <option value="1602|12">AGUSAN DEL NORTE</option>
  <option value="1603|14">AGUSAN DEL SUR</option>
  <option value="0604|17">AKLAN</option>
  <option value="0505|18">ALBAY</option>
  <option value="0606|18">ANTIQUE</option>
  <option value="1481|7">APAYAO</option>
  <option value="0377|8">AURORA</option>
  <option value="1507|12">BASILAN</option>
  <option value="0308|12">BATAAN</option>
  <option value="0209|6">BATANES</option>
  <option value="0410|34">BATANGAS</option>
  <option value="1411|14">BENGUET</option>
  <option value="0878|8">BILIRAN</option>
  <option value="0712|48">BOHOL</option>
  <option value="1013|22">BUKIDNON</option>
  <option value="0314|24">BULACAN</option>
  <option value="0215|29">CAGAYAN</option>
  <option value="0516|12">CAMARINES NORTE</option>
  <option value="0517|37">CAMARINES SUR</option>
  <option value="1018|5">CAMIGUIN</option>
  <option value="0619|17">CAPIZ</option>
  <option value="0520|11">CATANDUANES</option>
  <option value="0421|23">CAVITE</option>
  <option value="0722|53">CEBU</option>
  <option value="0997|1">CITY OF ISABELA</option>
  <option value="1339|14">CITY OF MANILA</option>
  <option value="1182|11">COMPOSTELA VALLEY</option>
  <option value="1247|18">COTABATO (NORTH COTABATO)</option>
  <option value="1298|2">COTABATO CITY</option>
  <option value="1123|11">DAVAO DEL NORTE</option>
  <option value="1124|11">DAVAO DEL SUR</option>
  <option value="1186|5">DAVAO OCCIDENTAL</option>
  <option value="1125|11">DAVAO ORIENTAL</option>
  <option value="1685|7">DINAGAT ISLANDS</option>
  <option value="0826|23">EASTERN SAMAR</option>
  <option value="0679|5">GUIMARAS</option>
  <option value="1427|11">IFUGAO</option>
  <option value="0128|23">ILOCOS NORTE</option>
  <option value="0129|34">ILOCOS SUR</option>
  <option value="0630|44">ILOILO</option>
  <option value="0231|37">ISABELA</option>
  <option value="1432|8">KALINGA</option>
  <option value="0133|20">LA UNION</option>
  <option value="0434|30">LAGUNA</option>
  <option value="1035|23">LANAO DEL NORTE</option>
  <option value="1536|40">LANAO DEL SUR</option>
  <option value="0837|43">LEYTE</option>
  <option value="1538|36">MAGUINDANAO</option>
  <option value="1740|6">MARINDUQUE</option>
  <option value="0541|21">MASBATE</option>
  <option value="1042|17">MISAMIS OCCIDENTAL</option>
  <option selected="selected" value="1043|26">MISAMIS ORIENTAL</option>
  <option value="1444|10">MOUNTAIN PROVINCE</option>
  <option value="1339|14">NCR, CITY OF MANILA, FIRST DISTRICT</option>
  <option value="1376|7">NCR, FOURTH DISTRICT</option>
  <option value="1374|5">NCR, SECOND DISTRICT</option>
  <option value="1375|4">NCR, THIRD DISTRICT</option>
  <option value="0645|32">NEGROS OCCIDENTAL</option>
  <option value="0746|25">NEGROS ORIENTAL</option>
  <option value="0848|24">NORTHERN SAMAR</option>
  <option value="0349|32">NUEVA ECIJA</option>
  <option value="0250|15">NUEVA VIZCAYA</option>
  <option value="1751|11">OCCIDENTAL MINDORO</option>
  <option value="1752|15">ORIENTAL MINDORO</option>
  <option value="1753|24">PALAWAN</option>
  <option value="0354|22">PAMPANGA</option>
  <option value="0155|48">PANGASINAN</option>
  <option value="0456|41">QUEZON</option>
  <option value="0257|6">QUIRINO</option>
  <option value="0458|14">RIZAL</option>
  <option value="1759|17">ROMBLON</option>
  <option value="0860|26">SAMAR (WESTERN SAMAR)</option>
  <option value="1280|7">SARANGANI</option>
  <option value="0761|6">SIQUIJOR</option>
  <option value="0562|15">SORSOGON</option>
  <option value="1263|12">SOUTH COTABATO</option>
  <option value="0864|19">SOUTHERN LEYTE</option>
  <option value="1265|12">SULTAN KUDARAT</option>
  <option value="1566|19">SULU</option>
  <option value="1667|21">SURIGAO DEL NORTE</option>
  <option value="1668|19">SURIGAO DEL SUR</option>
  <option value="0369|18">TARLAC</option>
  <option value="1570|11">TAWI-TAWI</option>
  <option value="0371|14">ZAMBALES</option>
  <option value="0972|27">ZAMBOANGA DEL NORTE</option>
  <option value="0973|28">ZAMBOANGA DEL SUR</option>
  <option value="0983|16">ZAMBOANGA SIBUGAY</option>
</select>
  <span style="color:red" ng-show="myForm.province.$dirty && myForm.province.$invalid"></span>
  <br>
   <div class="help-block with-errors"></div>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">City/Municipality
  <span style="color:red" ng-show="myForm.municipality.$dirty && myForm.municipality.$invalid"></span>
 <select ng-model="selectedName" ng-options="x for x in names" placeholder="municipality">  onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;MunicipalityCode\&#39;,\&#39;\&#39;)&#39;, 0)" id="MunicipalityCode">
  <option value="104301|16">ALUBIJID</option>
  <option value="104302|30">BALINGASAG</option>
  <option value="104303|9">BALINGOAN</option>
  <option value="104304|8">BINUANGAN</option>
  <option selected="selected" value="104305|80">CAGAYAN DE ORO CITY</option>
  <option value="104306|24">CLAVERIA</option>
  <option value="104307|15">EL SALVADOR CITY</option>
  <option value="104308|79">GINGOOG CITY</option>
  <option value="104309|11">GITAGUM</option>
  <option value="104310|16">INITAO</option>
  <option value="104311|15">JASAAN</option>
  <option value="104312|15">KINOGUITAN</option>
  <option value="104313|10">LAGONGLONG</option>
  <option value="104314|11">LAGUINDINGAN</option>
  <option value="104315|9">LIBERTAD</option>
  <option value="104316|8">LUGAIT</option>
  <option value="104317|25">MAGSAYSAY</option>
  <option value="104318|13">MANTICAO</option>
  <option value="104319|19">MEDINA</option>
  <option value="104320|10">NAAWAN</option>
  <option value="104321|14">OPOL</option>
  <option value="104322|18">SALAY</option>
  <option value="104323|10">SUGBONGCOGON</option>
  <option value="104324|10">TAGOLOAN</option>
  <option value="104325|18">TALISAYAN</option>
  <option value="104326|11">VILLANUEVA</option>

</select>
          
  <br>
   <div class="help-block with-errors"></div>

<td style="width:15%; font-family: Arial;position: relative;min-height:1px;padding-right: 15px;padding-left: 5px; font-size: 30px;"><span class="input-group-addon" style="background-color: green; color: yellow;">Barangay
<select ng-model="selectedName" ng-options="x for x in names" placeholder="barangay">  onchange="javascript:setTimeout(&#39;__doPostBack(\&#39;BarangayCode\&#39;,\&#39;\&#39;)&#39;, 0)" id="BarangayCode">
  <option value="104305001">AGUSAN</option>
  <option value="104305002">BAIKINGON</option>
  <option value="104305004">BALUBAL</option>
  <option value="104305005">BALULANG</option>
  <option value="104305073">BARANGAY 01</option>
  <option value="104305016">BARANGAY 02</option>
  <option value="104305024">BARANGAY 03</option>
  <option value="104305031">BARANGAY 04</option>
  <option value="104305036">BARANGAY 05</option>
  <option value="104305033">BARANGAY 06</option>
  <option value="104305074">BARANGAY 07</option>
  <option value="104305034">BARANGAY 08</option>
  <option value="104305035">BARANGAY 09</option>
  <option value="104305006">BARANGAY 10</option>
  <option value="104305007">BARANGAY 11</option>
  <option value="104305008">BARANGAY 12</option>
  <option value="104305009">BARANGAY 13</option>
  <option value="104305010">BARANGAY 14</option>
  <option value="104305011">BARANGAY 15</option>
  <option value="104305012">BARANGAY 16</option>
  <option value="104305013">BARANGAY 17</option>
  <option value="104305014">BARANGAY 18</option>
  <option value="104305015">BARANGAY 19</option>
  <option value="104305075">BARANGAY 20</option>
  <option value="104305017">BARANGAY 21</option>
  <option value="104305018">BARANGAY 22</option>
  <option value="104305019">BARANGAY 23</option>
  <option value="104305020">BARANGAY 24</option>
  <option value="104305076">BARANGAY 25</option>
  <option value="104305021">BARANGAY 26</option>
  <option value="104305022">BARANGAY 27</option>
  <option value="104305023">BARANGAY 28</option>
  <option value="104305077">BARANGAY 29</option>
  <option value="104305025">BARANGAY 30</option>
  <option value="104305078">BARANGAY 31</option>
  <option value="104305026">BARANGAY 32</option>
  <option value="104305027">BARANGAY 33</option>
  <option value="104305028">BARANGAY 34</option>
  <option value="104305079">BARANGAY 35</option>
  <option value="104305080">BARANGAY 36</option>
  <option value="104305081">BARANGAY 37</option>
  <option value="104305029">BARANGAY 38</option>
  <option value="104305030">BARANGAY 39</option>
  <option value="104305032">BARANGAY 40</option>
  <option value="104305037">BAYABAS</option>
  <option value="104305038">BAYANGA</option>
  <option value="104305039">BESIGAN</option>
  <option value="104305040">BONBON</option>
  <option value="104305041">BUGO</option>
  <option value="104305003">BULUA</option>
  <option value="104305042">CAMAMAN-AN</option>
  <option value="104305043">CANITO-AN</option>
  <option value="104305044">CARMEN</option>
  <option value="104305045">CONSOLACION</option>
  <option value="104305046">CUGMAN</option>
  <option value="104305047">DANSOLIHON</option>
  <option value="104305048">F. S. CATANICO</option>
  <option value="104305049">GUSA</option>
  <option value="104305050">INDAHAG</option>
  <option value="104305051">IPONAN</option>
  <option value="104305052">KAUSWAGAN</option>
  <option value="104305053">LAPASAN</option>
  <option value="104305054">LUMBIA</option>
  <option value="104305055">MACABALAN</option>
  <option value="104305056">MACASANDIG</option>
  <option value="104305057">MAMBUAYA</option>
  <option value="104305058">NAZARETH</option>
  <option value="104305059">PAGALUNGAN</option>
  <option value="104305060">PAGATPAT</option>
  <option value="104305061">PATAG</option>
  <option value="104305062">PIGSAG-AN</option>
  <option value="104305063">PUERTO</option>
  <option value="104305064">PUNTOD</option>
  <option value="104305065">SAN SIMON</option>
  <option value="104305067">TABLON</option>
  <option value="104305068">TAGLIMAO</option>
  <option value="104305069">TAGPANGI</option>
  <option value="104305070">TIGNAPOLOAN</option>
  <option value="104305071">TUBURAN</option>
  <option value="104305072">TUMPAGON</option>
  </tr>
</table>
</div>

</select>       
   <div class="help-block with-errors"></div>
<div>
    <table>
        <tr>
<td style="width:15%; font-family: Arial;position: relative;min-height:20px;font-size: 30px;"><span class="input-group-addon" style="background-color: blue; color: yellow;">
    <input name="ctl05" type="text" value="CERTIFY AND GIVE CONSENT" style="width:100%;background-color: green; color: yellow; text-align: center; font-size: 14px; font-weight: bold" />
</tr>
    </table>
</div>
<div>
    <table>
        <tr>
<td style="text-align: justify; color: black; font-family: Arial, sans-serif; font-size: 16px;">
   By inputing the Exact Code from the Image, I Agree to the Higala App Data Privacy Consent. 
   <br>
     <button style="float:left;" type="button" class="btn btn-danger  btn-sm" data-toggle="modal" data-target="#pnlModal">View Data Privacy Consent</button>
                            
</tr>
    </table>
</div>
<table id="Captcha1_MainTable" style="text-align:center  ">
    <tr>
        <td id="Captcha1_CaptchaImagePlace" valign="middle"><img id="Captcha1_InnerCaptchaImage"/></td>
        <td valign="middle">
                <img id="Captcha1_GenerateNew" alt="" title="Generate a new image" onclick="$find(&#39;Captcha1_InnerCaptchaImage&#39;).getNewImage();" src="Images/Refresh.gif" style="border-width:0px;cursor: pointer" />
        </td>
    </tr>
    <tr>
        <td align="left">
            <div id="ob_iTCaptcha1_CaptchaInputFieldContainer" class="ob_iTCN" style="width:300px;"><div class="ob_iTL"></div><div class="ob_iTR"></div><div class="ob_iTC"><input name="Captcha1$Captcha1_CaptchaInputField" type="text" value="Type the image code" id="Captcha1_Captcha1_CaptchaInputField" class="ob_iTIE" style="text-transform:uppercase" /></div><div class="ob_iCallbackScript" style="display:none;"></div></div>
        </td>
        <td valign="middle">
                
        </td>
    </tr>
    <tr>
        <td colspan="2" align="left">
            <span id="Captcha1_CaptchaValidator" style="color:Red;display:none;">The code you entered is not valid.</span>
        </td>
    </tr>
</table>

<span class="input-group-btn ">
                                    <input style="float: right;" type="submit" name="btnRegister" value="Register" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;btnRegister&quot;, &quot;&quot;, true, &quot;UR&quot;, &quot;&quot;, false, false))" id="btnRegister" title="Register" class="btn-success btn-lg" />

                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
 


            <div class="panel panel-success">
                <div class="panel-heading" style="text-align: center">
                    <div align="center">

                        <p class="text-center text-muted mt-md mb-md " align="center">
                            <a href="https://www.facebook.com/City-Management-Information-Systems-Office-LGU-CdeO-568493593557935/" style="color: white" target="_blank">
                                <img src="Images/ICTlogo2.png">
                            </a>
                            <br/>
                            <b>Developed by the CITY MANAGEMENT INFORMATION SYSTEM OFFICE</b><br/>
                            © Copyright 2021. All Rights Reserved.<br/>
                            Version 1.0
                        </p>
                        <div align="center">
                            <span style="font-size: 11px; color: black;">Like us on facebook and be updated with us: </span>
                        
                            </div>
                        </div>
                    </div>

                </div>
            </div>
                    



        <!-- ERROR CERTIFY-->

        <div id="pnlError" role="dialog" class="modal fade">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header btn-danger" style="text-align: center !important">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;EXISTS!</h1>
                    </div>

                    <div class="modal-body" style="padding: 10px 10px;">
                        <div class="alert alert-danger">
                            <span id="lblError"></span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button onclick="" type="submit" class="btn btn-danger btn-default btn-sm  pull-right" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span>&nbsp;Close</button>

                    </div>
                </div>

            </div>

        </div>
        <!-- ERROR CERTIFY -->

        <!-- REGISTERED-->

        <div id="pnlRegistered" role="dialog" class="modal fade">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header btn-success" style="text-align: center !important">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h1><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;User Registered</h1>
                    </div>

                    <div class="modal-body" style="padding: 10px 10px;">

                        <h4>Thank you. You can now access the Higala App Portal</h4>

                    </div>
                    <div class="modal-footer">

                        <button onclick="__doPostBack('btnRegistered','')" id="btnRegistered" type="button" class="btn btn-success pull-right ">Sign IN</button>
                    </div>
                </div>

            </div>

        </div>
        <!-- REGISTERED-->

        <div id="pnlModal" role="dialog" class="modal fade" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog" style="width: 94%">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="padding: 15px 30px;">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2><span class="glyphicon glyphicon-list-alt"></span>&nbsp;Data Privacy Consent</h2>
                    </div>
                    <div class="modal-body" style="padding: 40px 50px;">

                   
                            <div class="col-sm-12" style="text-align: justify; color: black; font-family: Arial, sans-serif; font-size: 13px;">

                                <h3>I understand that by agreeing with the <b>Data Privacy Consent</b> and have read the <a href="DataPrivacyNotice.aspx" target="_blank" style="text-decoration: underline;">Data Privacy Notice</a>, I confirm that I freely and voluntarily give my full consent to the City Government of Cagayan de Oro and its affiliates, if any, for the collection, storage, accessing, and processing of my data, which may include my personal information and/or sensitive personal information set out in this registration and processing of my information made in this Higala App for the solely purpose of contact tracing necessary for the containment of Covid-19 and other highly infectious diseases within the jurisdiction of Cagayan de Oro. I also understand that my personal information is protected by RA 10173, Data Privacy Act of 2012, and that I am required by RA 11469, Bayanihan to Heal as One Act, to provide truthful information.</h3>
                                <br />
                                <h3>I acknowledge that the collection and processing of my personal data is necessary for the emergency response of the City for the public order and safety, as prescribed by the law.</h3>
                            </div>
                 
                    </div>
</form>
<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = '';
});
</script>
<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
  $scope.names = [""];
});
</script>
 
</body>
</html>